.poincare-control-version {
  position: absolute;
  font-family: 'Consolas', 'Andale Mono', 'Courier', sans;
  font-size: 12px;
  left: 0;
  bottom: 0;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  color: #777;
  padding: .2em 0.6em;
  border-radius: 0 4px 0 0;
}